 {% extends "backend/base.html" %}
{% load static %}

{% block extrahead %}
<!-- STYLE CSS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/style-SignUp.css">
<!-- Steps CSS and JS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/steps.css">
{% endblock %}

{% block content %}
<!-- Start Wrapper -->
<div class="wrapper BG-Blue pb-5">
	<!-- Start Container -->
	<div class="inner col-12 col-lg-10 m-auto">
		<!-- Column 1 -->
		<div class="form-content col-12 col-lg-9 px-lg-0 pb-5 mx-auto">
			<div class="form-header">
				<h2 class="Color-Secondary mb-2 d-lg-none">Step 2/4:</h2>
				<h2 class="mb-1 Color-Secondary">Assets</h2>
				<p>Please fill the form below to record your personal assets information. Feel free to add
					as much detail as needed. </p>
			</div>



			<!-- Left Column Inner Column -->
			<div class="inner pb-5">
				<!-- Form Div -->
				<div class="form-content w-100 pb-3">
					{% include 'backend/onboarding-assets-breadcrumbs.html' %}
					<!-- Form -->
					<form method="post" class="Assets">
						{% csrf_token %}
						<!-- Start Investment -->
						<div class="mb-5">

							<h4 class="text-black">Investment Details</h4>
							<p class="text-start">Fill in your investment information.</p><br>
							<h5>Do you have Public Investment?</h5>
							<br>
							<!-- Start Form Row -->
							<div class="form-row Btn-Radio">
								<!-- Start Input -->
								<div class="col-6 col-lg-6">
									<input class="unhide_answer" type="radio" name="yesno" id="control_01" value="yes"
										checked>
									<label for="control_01">
										<h6>Yes</h6>
									</label>

								</div>
								<!-- End Input -->
								<!-- Start Input -->
								<div class="col-6 col-lg-6 mx-1">
									<input class="hide_answer" type="radio" name="yesno" id="control_02" value="no">
									<label for="control_02">
										<h6>No</h6>
									</label>
								</div>
								<!-- End Input -->
							</div>
							<!-- End Form Row -->
							<br>

							<!-- Information -->
							<!-- Core Investment #1 -->
							<div>
								<div class="answer form-row Btn-Radio flex-row flex-wrap flex-lg-nowrap">
									<div class="answer col-lg-6 col-12 mb-5 mb-lg-0">
										<h5 class="Color-Primary">Public Investment</h5><br>
										<select name="investment_type" id="" class="px-4">
											<option value="TabungHaji">Tabung Haji</option>
											<option value="PNB">PNB</option>
										</select>
									</div>
									<div class="answer mx-1 col-12 col-lg-6 mt-lg-0 mt-5">
										<h5>Account Number</h5><br>
										<input type="text" name="account_no" id="" placeholder="A123456XX" class="px-4">
									</div>
								</div>
								<br><br><br>
								<div class="answer form-row row Btn-Radio">
									<div class="col-lg-6 col-12">
										<h5>Investment Value</h5><br>
										<input type="number" name="account_value" id="" placeholder="100000"
											class="px-4 form-control Rounded-Border-Input">
									</div>
								</div>
							</div>
							<!-- Billing Cycle Toggle -->
							<div class="answer mt-4 pt-5 text-center">
								<div class="answer form-check form-switch flex-row d-flex align-items-center">
									<input class="hide_answer_2 form-check-input" type="checkbox"
										id="flexSwitchCheckDefault">
									<label class="form-check-label ms-2" for="flexSwitchCheckDefault">Add More
										Public Investment
									</label>

								</div>
							</div>
							<br><br><br>
							<!-- Investment 2 -->
							<div class="answer_2">
								<div class="answer form-row Btn-Radio">
									<div class="answer col-lg-6 col-12">
										<h5 class="Color-Primary">Public Investment</h5><br>
										<select name="investment_type_3" id="" class="px-4">
											<option value="TabungHaji">Tabung Haji</option>
											<option value="PNB">PNB</option>
										</select>
									</div>
								</div>
								<br><br>
								<br>
								<div class="answer form-row Btn-Radio flex-row flex-wrap flex-lg-nowrap">
									<div class="answer col-12 col-lg-6 mb-5 mb-lg-0">
										<h5>Account Number</h5><br>
										<input type="text" name="account_no_3" id="" placeholder="A123456XX"
											class="px-4">
									</div>
									<div class="answer mx-1 col-12 col-lg-6 mt-5 mt-lg-0">
										<h5>Investment Value</h5><br>
										<input type="number" name="account_value_3" id="" placeholder="100000"
											class="px-4 form-control Rounded-Border-Input">
									</div>
								</div><br>
								<!-- <div class="form-row row Btn-Radio">
											<div class="col-lg-6 col-12">
												<h5>Investment Value</h5><br>
												<input type="text" name="account_value" id="" placeholder="RM100,000"
													class="px-4">
											</div>
										</div> -->
							</div>
							<!-- End Investment 2 -->
							<br><br><br>

							<h5>Do you have Private Investment?</h5>
							<br>
							<!-- Start Form Row -->
							<div class="form-row Btn-Radio">
								<!-- Start Input -->
								<div class="col-6 col-lg-6">
									<input class="unhide_answer_3" type="radio" name="yesno2" id="control_06"
										value="yes" checked>
									<label for="control_06">
										<h6>Yes</h6>
									</label>

								</div>
								<!-- End Input -->
								<!-- Start Input -->
								<div class="col-6 col-lg-6 mx-1">
									<input class="hide_answer_3" type="radio" name="yesno2" id="control_07" value="no">
									<label for="control_07">
										<h6>No</h6>
									</label>
								</div>
								<!-- End Input -->
							</div>
							<!-- End Form Row -->
							<br>


							<!-- Unit Trust Investment -->
							<div class="answer_3 mt-5">
								<h5 class="Color-Primary">Unit Trust Investment</h5><BR>
								<br>
								<br>
								<div class="form-row Btn-Radio flex-row flex-wrap flex-lg-nowrap">
									<div class="col-12 col-lg-6 mb-5 mb-lg-0">
										<h5>Unit Trust Manager</h5><br>
										<select name="investment_type_2" id="unit_trust_name" class="px-4">
											<option value="">Select A Fund Manager</option>
											<option value="ABRDN ISLAMIC MALAYSIA SDN BHD">ABRDN ISLAMIC MALAYSIA SDN BHD</option>
											<option value="Affin Bank Berhad">Affin Bank Berhad</option>
											<option value="Affin Islamic Bank Berhad">Affin Islamic Bank Berhad</option>
											<option value="AHAM ASSET MANAGEMENT BERHAD (formerly known as AFFIN HWANG ASSET MANAGEMENT BERHAD)">AHAM ASSET MANAGEMENT BERHAD (formerly known as AFFIN HWANG ASSET MANAGEMENT BERHAD)</option>
											<option value="AIIMAN ASSET MANAGEMENT SDN BHD">AIIMAN ASSET MANAGEMENT SDN BHD</option>
											<option value="Al Rajhi Banking & Investment Corporation (Malaysia) Berhad">Al Rajhi Banking & Investment Corporation (Malaysia) Berhad</option>
											<option value="Alliance Bank (Malaysia) Berhad">Alliance Bank (Malaysia) Berhad</option>
											<option value="Alliance Islamic bank Berhad">Alliance Islamic bank Berhad</option>
											<option value="AMANAH SAHAM NASIONAL BERHAD">AMANAH SAHAM NASIONAL BERHAD</option>
											<option value="AMANAH SAHAM SARAWAK BERHAD">AMANAH SAHAM SARAWAK BERHAD</option>
											<option value="AMANAHRAYA INVESTMENT MANAGEMENT SDN BHD">AMANAHRAYA INVESTMENT MANAGEMENT SDN BHD</option>
											<option value="AmBank Berhad">AmBank Berhad</option>
											<option value="AmBank Islamic Berhad">AmBank Islamic Berhad</option>
											<option value="AMFUNDS MANAGEMENT BERHAD">AMFUNDS MANAGEMENT BERHAD</option>
											<option value="AmInvestment Bank Berhad">AmInvestment Bank Berhad</option>
											<option value="ARECA CAPITAL SDN BHD">ARECA CAPITAL SDN BHD</option>
											<option value="ASTUTE FUND MANAGEMENT BERHAD">ASTUTE FUND MANAGEMENT BERHAD</option>
											<option value="Bank Islam Malaysia Berhad">Bank Islam Malaysia Berhad</option>
											<option value="Bank Kerjasama Rakyat Malaysia Berhad">Bank Kerjasama Rakyat Malaysia Berhad</option>
											<option value="Bank Muamalat Malaysia Berhad">Bank Muamalat Malaysia Berhad</option>
											<option value="Bank of China Malaysia Berhad">Bank of China Malaysia Berhad</option>
											<option value="Bank Simpanan Nasional">Bank Simpanan Nasional</option>
											<option value="BIMB INVESTMENT MANAGEMENT BERHAD">BIMB INVESTMENT MANAGEMENT BERHAD</option>
											<option value="BOS WEALTH MANAGEMENT MALAYSIA BERHAD">BOS WEALTH MANAGEMENT MALAYSIA BERHAD</option>
											<option value="CIMB Bank Berhad">CIMB Bank Berhad</option>
											<option value="CIMB Investment Bank Berhad">CIMB Investment Bank Berhad</option>
											<option value="CIMB Islamic Bank Berhad">CIMB Islamic Bank Berhad</option>
											<option value="EASTSPRING INVESTMENTS BERHAD">EASTSPRING INVESTMENTS BERHAD</option>
											<option value="FRANKLIN TEMPLETON GSC ASSET MANAGEMENT SDN. BHD.">FRANKLIN TEMPLETON GSC ASSET MANAGEMENT SDN. BHD.</option>
											<option value="HONG LEONG ASSET MANAGEMENT BHD">HONG LEONG ASSET MANAGEMENT BHD</option>
											<option value="Hong Leong Bank Berhad">Hong Leong Bank Berhad</option>
											<option value="Hong Leong Islamic Bank Berhad">Hong Leong Islamic Bank Berhad</option>
											<option value="HSBC Amanah Malaysia Berhad">HSBC Amanah Malaysia Berhad</option>
											<option value="HSBC Bank (Malaysia) Berhad">HSBC Bank (Malaysia) Berhad</option>
											<option value="iFAST Capital Sdn Bhd">iFAST Capital Sdn Bhd</option>
											<option value="Industrial and Commercial Bank of China (Malaysia) Berhad">Industrial and Commercial Bank of China (Malaysia) Berhad</option>
											<option value="INTER-PACIFIC ASSET MANAGEMENT SDN BHD">INTER-PACIFIC ASSET MANAGEMENT SDN BHD</option>
											<option value="KAF INVESTMENT FUNDS BERHAD">KAF INVESTMENT FUNDS BERHAD</option>
											<option value="KEDAH ISLAMIC ASSET MANAGEMENT BERHAD">KEDAH ISLAMIC ASSET MANAGEMENT BERHAD</option>
											<option value="Kenanga Investment Bank Berhad">Kenanga Investment Bank Berhad</option>
											<option value="KENANGA INVESTORS BERHAD">KENANGA INVESTORS BERHAD</option>
											<option value="Kuwait Finance House (M) Berhad">Kuwait Finance House (M) Berhad</option>
											<option value="Malayan Banking Berhad">Malayan Banking Berhad</option>
											<option value="MANULIFE INVESTMENT MANAGEMENT (M) BERHAD">MANULIFE INVESTMENT MANAGEMENT (M) BERHAD</option>
											<option value="MAYBANK ASSET MANAGEMENT SDN BHD">MAYBANK ASSET MANAGEMENT SDN BHD</option>
											<option value="Maybank Islamic Berhad">Maybank Islamic Berhad</option>
											<option value="MBSB Bank Berhad">MBSB Bank Berhad</option>
											<option value="MIDF AMANAH ASSET MANAGEMENT BERHAD">MIDF AMANAH ASSET MANAGEMENT BERHAD</option>
											<option value="MUAMALAT INVEST SDN BHD">MUAMALAT INVEST SDN BHD</option>
											<option value="NOMURA ASSET MANAGEMENT MALAYSIA SDN. BHD.">NOMURA ASSET MANAGEMENT MALAYSIA SDN. BHD.</option>
											<option value="NOMURA ISLAMIC ASSET MANAGEMENT SDN. BHD.">NOMURA ISLAMIC ASSET MANAGEMENT SDN. BHD.</option>
											<option value="OCBC Al-Amin Berhad">OCBC Al-Amin Berhad</option>
											<option value="OCBC Bank (Malaysia) Berhad">OCBC Bank (Malaysia) Berhad</option>
											<option value="OPUS ASSET MANAGEMENT SDN BHD">OPUS ASSET MANAGEMENT SDN BHD</option>
											<option value="PENGURUSAN KUMIPA BERHAD">PENGURUSAN KUMIPA BERHAD</option>
											<option value="PERMODALAN BSN BERHAD">PERMODALAN BSN BERHAD</option>
											<option value="PHEIM UNIT TRUSTS BERHAD">PHEIM UNIT TRUSTS BERHAD</option>
											<option value="PHILLIP MUTUAL BERHAD">PHILLIP MUTUAL BERHAD</option>
											<option value="PMB INVESTMENT BERHAD">PMB INVESTMENT BERHAD</option>
											<option value="PRINCIPAL ASSET MANAGEMENT BERHAD">PRINCIPAL ASSET MANAGEMENT BERHAD</option>
											<option value="PTB UNIT TRUST BERHAD">PTB UNIT TRUST BERHAD</option>
											<option value="Public Bank Berhad">Public Bank Berhad</option>
											<option value="PUBLIC MUTUAL BERHAD">PUBLIC MUTUAL BERHAD</option>
											<option value="RHB ASSET MANAGEMENT SDN BHD">RHB ASSET MANAGEMENT SDN BHD</option>
											<option value="RHB Bank Berhad">RHB Bank Berhad</option>
											<option value="RHB Investment Bank Berhad">RHB Investment Bank Berhad</option>
											<option value="RHB Islamic Bank Berhad">RHB Islamic Bank Berhad</option>
											<option value="RHB ISLAMIC INTERNATIONAL ASSET MANAGEMENT BERHAD">RHB ISLAMIC INTERNATIONAL ASSET MANAGEMENT BERHAD</option>
											<option value="SAHAM SABAH BERHAD">SAHAM SABAH BERHAD</option>
											<option value="SATURNA SDN BHD">SATURNA SDN BHD</option>
											<option value="Standard Chartered Bank (Malaysia) Berhad">Standard Chartered Bank (Malaysia) Berhad</option>
											<option value="Standard Chartered Saadiq Berhad">Standard Chartered Saadiq Berhad</option>
											<option value="TA INVESTMENT MANAGEMENT BERHAD">TA INVESTMENT MANAGEMENT BERHAD</option>
											<option value="TAURUS INVESTMENT MANAGEMENT BERHAD">TAURUS INVESTMENT MANAGEMENT BERHAD</option>
											<option value="United Overseas Bank (Malaysia) Berhad">United Overseas Bank (Malaysia) Berhad</option>
											<option value="UOB ASSET MANAGEMENT (MALAYSIA) BERHAD">UOB ASSET MANAGEMENT (MALAYSIA) BERHAD</option>
											<option value="UOB Kay Hian Securities (M) Sdn Bhd">UOB Kay Hian Securities (M) Sdn Bhd</option>				
										</select>

									</div>
									<div class="col-12 col-lg-6 mt-5 mt-lg-0 mx-1">
										<h5>Account Number</h5><br>
										<input type="text" name="account_no_2" id="" placeholder="A123456XX"
											class="px-4">
									</div>

								</div>
								<br><br><br>
								<div class="form-row row Btn-Radio">

									<div class="mx-1 col-lg-6 col-12">
										<h5>Investment Value</h5><br>
										<input type="number" name="account_value_2" id="" placeholder="100000"
											class="px-4 form-control Rounded-Border-Input ">
									</div>
								</div>
							</div>
							<!-- Billing Cycle Toggle -->

						</div>
						<!-- End Investment -->



						<!-- Button -->
						<div class="mt-5">
							<a class="btn Btn-Secondary-2 mt-5" href="{% url 'insurance_form' %}" role="button">Back</a>
							<button class="btn Btn-Primary mt-5 float-end" type="submit">NEXT</button>

						</div>
					</form>
					<!-- End Form -->
				</div>
				<!-- End Form Div-->
			</div>
			<!-- End Left Column Inner Column -->
		</div>
		<!-- End Column 1 -->
		<!-- Start Column 2 -->
		{% include 'backend/onboarding-assets-sidebar.html' %}
	</div>
	<!-- End Container -->
</div>
<!-- End Wrapper -->
<script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
{% endblock %}