{% extends "backend/base.html" %}
{% load static %}

{% block extrahead %}
<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<!-- Flickity CSS and JS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/flickity.css">
<!-- JavaScript -->
<script src="https://wahine.s3.amazonaws.com/static/js/flickity.js"></script>
{% endblock %}


{% block content %}
<body>
   
   <!-- Section 2 -->
    <div class="container mt-5 pb-3">
        <br>
        <div class="row">
            <div class="col-10 text-center mx-auto p-5">
                <h4 class="Color-Secondary">WAHINE COMMON FAQS</h4><br>
                <h2 class="text-black">What We Need To Know
                </h2><br>
                <p class="text-center text-black">Frequently Asked Questions</p><br>
              
            </div>
        </div>
    </div>

    <!-- Accordion Drop Down -->
    <div class="container-fluid pb-5">
    <div class="accordion accordion-flush row px-5" id="accordionFlushExample">
        <div class="accordion-item p-0">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                What is a Digital Vault?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Digital vaults are simply a digital safebox. It is a great way to secure and manage your digital assets
                and digital copies of your important stuff in an increasingly digital world. They provide a secure and
                centralized location for storing documents, passwords, and other sensitive information, protecting
                against data breaches and compliance violations.
                
                Our digital vault solution, W Vault is designed to simplify your life. In addition to storing important
                information, there is also a dashboard that will allow you to see, track and assess your important
                information and notify the necessary people at the right time.</div>
          </div>
        </div>
        <div class="accordion-item p-0">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                What is the difference between notifier and access list?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">This is an added value feature of W
                Vault where we have differentiated between the two. Who can be a notifier? A notifier is
                anyone you have identified as the person who will get in touch with us should a trigger
                event happen such as death, disability, mental incapacity and so on. She or he could be
                your lawyer, a family member, your best friend or any other trusted person. When we have
                verified the notifier and the trigger event, we will then provide access of all the information
                you have stored on W Vault to the people on your access list. Your access list individuals
                will most likely be your loved ones.</div>
          </div>
        </div>
        <div class="accordion-item p-0">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Is W Vault only for women?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Definitely not! Our focus is women. For the simple reason that women are more financially
                made vulnerable during unplanned life events such as divorce, illness, death. Women are
                generally less financially literate, women are less likely to own the family assets and so on.
                So, we believe it is crucial women are made aware of risks they face if they don’t plan ahead
                and think about their long term financial security. BUT of course, it is important that we
                have the men on board. Because they are our partners, our fathers, our sons, our brothers
                and very much a part of our lives. So, we welcome both men and women, young and old to
                subscribe to W Vault.</div>
          </div>
        </div>
        <div class="accordion-item p-0">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                How safe is my information in W Vault?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">We know that privacy and data security is something that all of us are very concerned
                about. And rightly so. We completely understand that sharing of your personal information
                is difficult. Which is why we have ensured, even at the earliest stage of our product
                development, that all information is SSL encrypted and that regular penetration testing is
                conducted to ensure that your data is as safe as it can be, based on the best practices that is
                technologically available at this time.</div>
          </div>
        </div>

    </div>
    </div>

    <!-- Sign Up Button -->
    <div class="text-center">
    <a class="btn Btn-Secondary" href="{% url 'signup' %}" role="button">Sign Up Now</a></div>


    <!-- Medium.com Feed -->
    <div class="container mt-5 pb-3">
      <br>
      <div class="row">
          <div class="col-10 text-center mx-auto p-5">
              <h4 class="Color-Secondary">STAY UP TO DATE</h4><br>
              <h2 class="text-black">LATEST ARTICLES
              </h2><br>
              <p class="text-center text-black">Read Our Blogs</p><br>
            
          </div>
      </div>
    </div>
    <div class="container-fluid pb-5">
       <div class="row pb-5">
        <div class="col-12">
          <div class="slider">
            <div class="carousel" data-flickity='{ "contain": true}'>
              <div class="carousel-cell medium-articles"></div>
              <div class="carousel-cell medium-articles"></div>
              <div class="carousel-cell medium-articles"></div>
              <div class="carousel-cell medium-articles"></div>
              <div class="carousel-cell medium-articles"></div>
              <div class="carousel-cell medium-articles"></div>
              <div class="carousel-cell medium-articles"></div>
              <div class="carousel-cell medium-articles"></div>
              <div class="carousel-cell medium-articles"></div>
              <div class="carousel-cell medium-articles"></div>
            </div>
            </div>
          </div>
        </div>
    </div>





</body>

{% endblock %}